@tailwind base;
@tailwind components;
@tailwind utilities;

.henry_ford {
    justify-content: end;
    align-items: start;
    text-align: start;
    color: white;
    background-size: cover;
    background-position: right;
} 
.bg-overlay
{
    background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,1));
}
.ford_quote {
    font-size: 24px;
    font-weight: bold;
    padding: 3rem;
}
:root
{
    --sidebar-maxwidth: 250px;
    --sidebar-width:80px;
    --footer-height: 40px;
    --switch-size:3rem;
}
button[disabled]
{
    opacity: .5;
    pointer-events: none;
}
.main-color 
{ 
    color: rgb(0,9,91) !important;
}
.sidebar-expand
{
    max-width: var( --sidebar-maxwidth);
    width: var( --sidebar-maxwidth);
}

.dashboard-expand
{
    flex: 1;
    margin-left: var(--sidebar-maxwidth);
}

.sidebar
{
    width: var( --sidebar-width);
}


footer
{
    height: var(--footer-height);
    padding-left:calc(var(--sidebar-width) + 1rem);
}
main {
    height: calc(97vh - var(--footer-height));
}
.remember-switch
{
    width: var(--switch-size);
    transition-duration: 500ms;
    background-color: rgb(230,230,230);
}
.remember-switch.enabled
{
    background-color: rgb(255, 95, 46);
}
.switch-btn
{
    transition: transform .5s linear;
    top: -3px;
    left: -3px;
    background-color: rgb(148, 148, 148);
}
.remember-switch.enabled .switch-btn
{
    transform: translateX(calc(var(--switch-size) - 20px));
    background-color: white;
}
@media (min-width:1024px){
    .dashboard
{
    flex: 1;
    margin-left: var(--sidebar-width);
}

    .sidebar:hover
    {
    max-width: var( --sidebar-maxwidth);
    width: var( --sidebar-maxwidth);
    }
}