@tailwind base;
@tailwind components;
@tailwind utilities;

.henry_ford {
    justify-content: end;
    align-items: start;
    text-align: start;
    color: white;
    background-size: cover;
    background-position: center;
} 
.bg-overlay
{
    background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,1));
}
.ford_quote {
    font-size: 24px;
    font-weight: bold;
    padding: 3rem;
}
:root
{
    --sidebar-maxwidth: 250px;
    --sidebar-width:80px;
    --footer-height: 40px;
    --switch-size:3rem;
}
button[disabled]
{
    opacity: .5;
    pointer-events: none;
}
.main-color 
{ 
    color: rgb(0,9,91) !important;
}
.sidebar-expand
{
    max-width: var( --sidebar-maxwidth);
    width: var( --sidebar-maxwidth);
}

.dashboard-expand
{
    flex: 1;
    margin-left: var(--sidebar-maxwidth);
}

.sidebar
{
    transition: width .2s linear;
    transition-duration: 200ms;
    transition-delay: 300ms;
    width: var( --sidebar-width);
}


footer
{
    height: var(--footer-height);
    padding-left:calc(var(--sidebar-width) + 1rem);
}
main {
    height: calc(97vh - var(--footer-height));
}
.remember-switch
{
    width: var(--switch-size);
    transition: background-color .3s linear;
    transition-delay: .15s;
    background-color:rgb(192, 192, 192);
    border:.5px solid rgba(0, 0, 0, 0.158);
}
.remember-switch.enabled
{
    background-color: rgb(255, 95, 46);
}
.switch-btn
{
    transition-delay: .15s;
    box-shadow: 2px 2px 2px 0px #00000045;
    transition: transform .15s linear;
    top: 1px;
    left: 0px;
    background-color: rgb(255, 95, 46);
}
.remember-switch.enabled .switch-btn
{
    transform: translateX(calc(var(--switch-size) - 18px));
    background-color: white;
    top: 1px;
}
@media (min-width:1024px){
    .dashboard
{
    flex: 1;
    margin-left: var(--sidebar-width);
}
.sidebar .content-admin
{
    opacity: 0;
    transition: opacity .3s linear;
    transition-duration: 300ms;
    transition-delay: 300ms;
}
.sidebar:hover .content-admin
{
    opacity: 1;
}
    .sidebar:hover
    {
    max-width: var( --sidebar-maxwidth);
    width: var( --sidebar-maxwidth);
    }
}